<h1> Bienvenido {{ username }} </h1>
<p>
  <a href="{{ url }}">Click aqui</a> para activar tu cuenta.
</p>

<p>
  No puedes abrir el enlace? Copia el siguiente enlace en tu navegador <br>
  {{url}}
</p>
